.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: aliceblue;
}
.card {
	min-height: 50vh;
	display: flex;
}
.cardDetails {
	position: relative;
	flex: 1;
	padding: 2rem 5rem;
	border-top-left-radius: 10vh;
	background: linear-gradient(135deg, #ff0054, #ff4d87, #ffea00 97%);
}
.cardDetails h3 {
	font-size: 2.5rem;
	font-weight: 900;
	text-transform: capitalize;
}
.cardDetails p {
	max-width: 35rem;
	margin: 3rem 0;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.4;
}
.attendance {
	position: absolute;
	right: 1rem;
	top: 2rem;
}
.attendance span:first-of-type {
	color: #6d23b6;
}
.date {
	letter-spacing: 2px;
}
.infoWrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.infoWrapper > * {
	position: relative;
	height: 2rem;
	margin: 0.35rem;
	padding: 0 0.75rem;
	line-height: 2rem;
	border: 1px solid aliceblue;
	border-radius: 1rem;
	transition: transform 0.3s ease;
}
.infoWrapper > *:hover,
.infoWrapper > *:active {
	transform: translateY(-0.3rem);
}
.infoWrapper > *::before {
	content: '';
	position: absolute;
	bottom: -1rem;
	left: 50%;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	background: #333;
	transform: translateX(-50%) rotateX(-50deg);
	transition: all 0.3s ease 0.2s;
	opacity: 0;
}
.infoWrapper > *:hover::before,
.infoWrapper > *:active::before {
	bottom: -1.8rem;
	transform: translateX(-50%) rotateX(-70deg);
	opacity: 0.2;
}
.time {
	font-weight: 600;
	border-color: #6d23b6;
}
.per {
	color: #ff0054;
	background: aliceblue;
}
.cardImg {
	flex: 1.2;
	position: relative;
	border-bottom-right-radius: 10vh;
	overflow: hidden;
}
.cardImg::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		135deg,
		rgba(100, 92, 0, 0.2),
		rgba(100, 30, 53, 0.2),
		rgba(255, 0, 84, 1)
	);
}
.cardImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.added {
	position: relative;
	width: 100%;
	padding: 0.5rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.controls {
	position: absolute;
	right: 0;
	bottom: 0.35rem;
	display: flex;
}
.delete {
	margin-left: 20px;
	color: red;
	transition: color 0.3s ease;
}
.delete:hover {
	color: lightcoral;
}
.back {
	width: fit-content;
	margin-top: 40px;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon svg {
	margin-right: 5px;
}
.edit {
	color: #ffea00;
}

@media (max-width: 800px) {
	.card {
		flex-direction: column-reverse;
	}
	.cardDetails {
		border-radius: 0;
		padding: 2rem;
	}
	.cardImg {
		border-radius: 10vh 10vh 0 0;
	}
	.cardImg::before {
		background: linear-gradient(
			180deg,
			rgba(100, 92, 0, 0.2),
			rgba(100, 30, 53, 0.2) 80%,
			rgba(255, 0, 84, 1) 99%
		);
	}
}
@media (max-width: 500px) {
	.cardDetails,
	.added {
		padding: 1rem;
	}
	.controls {
		right: 1rem;
	}
}
