.container {
}
.event h3 {
	font-size: 25px;
}
.event p {
	margin: 10px 0;
}
.image {
	margin-bottom: 20px;
}
.controls {
	position: absolute;
	right: 1.8875rem;
	top: 0;
	display: flex;
}
.delete {
	margin-left: 20px;
	color: red;
	transition: color 0.3s ease;
}
.delete:hover {
	color: lightcoral;
}
.back {
	width: fit-content;
	margin-top: 40px;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon svg {
	margin-right: 5px;
}
