.form label {
	display: block;
	color: aliceblue;
}
.form textarea,
.form input {
	width: 100%;
	padding: 7px;
	color: aliceblue;
	background-color: transparent;
	border: 1px #ff4d87 solid;
	border-radius: 7px;
}
.form input {
	height: 40px;
}
.form textarea {
	height: 150px;
}
.form input[type='submit'] {
	display: block;
	width: 100%;
	margin: 20px 0 30px;
	text-transform: uppercase;
	font-weight: 600;
}
.form .file {
	border: 1px solid #ff4d87;
	background-color: #ff80a9;
	padding: 10px;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin-bottom: 20px;
}

@media (max-width: 600px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
