.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(-15deg, #47126b, #571089, #6d23b6);
	color: #fff;
	height: 3.75rem;
	padding: 0 1.875rem;
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}
.header a {
	color: aliceblue;
	margin-right: 1.25rem;
}
.header ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}
.header a,
.header button {
	font-size: 0.75rem;
}
.header ul li:first-child a {
	font-size: 1rem;
}
.logo {
	display: flex;
	align-items: center;
}
.logo a {
	display: inline-block;
	margin-top: 0.5rem;
}

@media (max-width: 768px) {
	.header {
		flex-direction: column;
		height: auto;
	}

	.header ul {
		margin: 1.25rem 0;
		flex-direction: column;
		text-align: center;
	}

	.header a {
		margin-right: 0;
	}

	.logo {
		margin: 1.25rem 0;
	}
}
