.showcase {
	position: relative;
	width: 100%;
	height: 300px;
	background: #ddd url('/images/showcase.jpg') no-repeat center center;
	color: aliceblue;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		135deg,
		rgba(100, 92, 0, 0.2) 3%,
		rgba(100, 30, 53, 0.4),
		rgba(255, 0, 84, 0.2)
	);
}
.showcase * {
	z-index: 20;
}
.showcase h1 {
	font-size: 2.5rem;
	margin-bottom: 0;
}
